# Created by .ignore support plugin (hsz.mobi)
### Vue template
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore


frontEnd/node_modules
.idea/
venv
backEnd/__pycache__/
db/__pycache__/
ethereum/__pycache__/